---
---
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
}
h1, h2, h3, ul {
  font-weight: 400;
  margin: .5em 0 .25em;
}
li {
  line-height: 140%;
}
li, p, td {
  font-size: 90%;
}
